@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  
@keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
  }
  .animate-slide-in-right{
    animation: slideInRight 1s ease-out forwards;
  }
  .animate-fade-in {
    animation: fadeIn 1.2s ease-out forwards;
  }